:root {

  --pink: #FFCCCC;
  --copper-pink: #976464;
  --light-purplish-gray: #CFA5A5;
  --pinkp-grayp-brown: #8D5757;
  --gray-silk: #C5C5A8;
  --very-pale-green: #E2E1CF;
  --gray: #5E5C5A;
  --half-gray: #BDBDBD;

  --basic-white: #FFF;
  --basic-text-color: #424242;
  --note-text-color: #525252;
  --text-color--80: rgba(94, 92, 90, 0.8);
  --background-text-color: rgba(94, 92, 90, 0.03);
  --page-background: #FAF9F9;
  --slider-bg-start: #DDDDBF 3.06%;
  --slider-bg-end: #ECECD5 85.68%;
  --shadow: rgba(0, 0, 0, 0.05);
  --light-dark-shadow: rgba(68, 68, 68, 0.05);
  --footer-darker-gradient: #ECECD5 56.22%;
  --footer-lighter-gradient: #D7D7B9 130.03%;
}

.page {
  height: 100vh;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--basic-text-color);

  background-color: var(--page-background);
}

.container {
  width: 1620px;
  margin: auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-background {
  position: absolute;
  z-index: -1;

  font-family: "SpectralSC", serif;
  font-weight: 300;
  font-size: 246px;
  line-height: 350px;
  color: var(--background-text-color);
}

.title {
  font-family: "SpectralSC", serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;
  text-transform: uppercase;
  color: var(--basic-text-color);
  text-align: center;
}

.button {
  display: inline-block;
  padding: 13px 45px;

  font-family: 'SpectralSC';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-white);

  background: linear-gradient(102.48deg, var(--copper-pink) -29.03%, var(--light-purplish-gray) 97.75%);
  border-radius: 49px;
  border: none;
}

.input {
  padding: 15px 32px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--background-text-color);

  border: 1px solid var(--half-gray);
  background-color: var(--page-background);
  border-radius: 46px;
}

.placeholder-text::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--half-gray);
}

.placeholder-text::-moz-placeholder {
  font-size: 14px;
  color: var(--half-gray);
}

.placeholder-text:-ms-input-placeholder {
  font-size: 14px;
  color: var(--half-gray);
}

.placeholder-text::-ms-input-placeholder {
  font-size: 14px;
  color: var(--half-gray);
}

.placeholder-text::placeholder {
  font-size: 14px;
  color: var(--half-gray);
}

/* Header */

.main-header {
  display: flex;
  flex-direction: column;
}

.menu {
  margin-bottom: 30px;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  display: block;
  margin: 0 28px;
}

.main-menu {
  order: -1;

  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: 720px;
  margin: 0;
  padding: 0;
  list-style: none;

  color: var(--basic-text-color);
}

.main-menu__link {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}

.menu__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  width: 720px;
}

.search {
  box-sizing: border-box;
  width: 200px;
  padding: 10px 45px 10px 20px;

  background-color: var(--page-background);
  border: 1px solid var(--half-gray);
  border-radius: 46px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0;
  padding: 0;

  font-size: 14px;

  list-style: none;
}

.user-menu__item {
  background-color: var(--page-background);
}

.menu__button {
  padding: 10px 15px 10px 40px;

  color: var(--half-gray);
  line-height: 17px;

  border: 1px solid var(--half-gray);
  border-radius: 46px;
}

.contacts-header {
  order: -1;

  margin-bottom: 45px;

  font-size: 14px;
  color: var(--basic-white);

  background: linear-gradient(102.48deg, var(--copper-pink) -29.03%, var(--light-purplish-gray) 97.75%);
}

.contacts-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-header__phone {
  color: inherit;
}

.contacts-header__working-hours {
  margin: 0;
}

/* Slider */

.slider__item {
  display: flex;

  margin-top: 50px;

  border-radius: 20px;
  background-image: url("../img/slider/slider-bg.png"),
    linear-gradient(101.38deg, var(--slider-bg-start), var(--slider-bg-end));
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  box-shadow: 0px 0px 30px var(--shadow);
}

.slider__img {
  margin: 10px 120px 23px 130px;
}

.slider__wrapper {
  margin-right: 85px;
}

.slider__title {
  margin: 100px 0 50px;
  padding: 0;

  font-size: 28px;
  font-weight: 600;
  color: var(--basic-text-color);
}

.slider__text {
  width: 450px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 18px;
  line-height: 150%;
  color: var(--text-color--80);
}

.slider__pagination {
  display: flex;
  align-items: flex-end;
}

.slider__pagination-count {
  font-weight: 600;
  font-size: 16px;
}

/* Products */

.products__select {
  display: flex;
  justify-content: center;
}

.products__choice {
  color: var(--gray);
}

.products__choice:nth-child(2) {
  order: -1;
}

.products__choice--active {
  background: linear-gradient(102.48deg, var(--copper-pink) -29.03%, var(--light-purplish-gray) 97.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.products__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.products__button {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}

.products__button::before {
  content: "";

  position: absolute;
  left: -30px;
  width: 30px;
  height: 30px;

  background-image: url("../img/products/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.products__button-next::before {
  left: 30px;

  transform: rotate(180deg);
}

.products__link {
  position: relative;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
}

.products__link-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* Products */

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  flex-basis: 375px;
  min-height: 280px;

  background-image: url("../img/catalog/catalog-item-1.png");
  background-repeat: no-repeat;
  background-position: bottom -1px right -1px;

  background-color: var(--basic-white);
  box-shadow: 0px 0px 30px var(--light-dark-shadow);
  border-radius: 20px;
}

.catalog-item__title {
  font-family: "SpectralSC", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--basic-text-color);
}

.catalog-item__price {
  line-height: 23px;
  color: var(--text-color--80);
}

.catalog-item__more {
  font-weight: 600;
  line-height: 23px;
  color: var(--copper-pink);
}

/* Advantages */

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__list-item {
  flex-basis: 540px;
}

.advantages__item-title {
  font-family: 'SpectralSC';
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
}

.advantages__item-text {
  line-height: 22px;
}

/* Gallery telegram */

.gallery-telegram {
  text-align: center;
  margin-bottom: 65px;
}

.gallery-telegram__list {
  display: grid;
  grid-template-columns: repeat(4, 390px);
  grid-template-rows: repeat(3, 390px);
  gap: 20px;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  list-style: none;
}

.gallery-telegram__item {
  box-shadow: 0px 0px 26px var(--light-dark-shadow);
  border-radius: 20px;
}

.gallery-telegram__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.gallery-telegram__item:nth-child(6) {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

/* Feedback */

.feedback {
  position: relative;

  margin-bottom: 50px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.feedback__bg {
  top: -148px;
  left: -120px;
}

.feedback__form {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feedback__input {
  align-self: start;
  box-sizing: border-box;
  width: 195px;
}

.feedback__button-wrapper {
  position: relative;

  margin-bottom: 50px;
}

.feedback__note {
  position: absolute;

  width: 245px;
  margin: 0;
  padding: 0;
  margin-top: 10px;

  font-size: 12px;
  line-height: 17px;
  color: var(--note-text-color);
}

/* Footer */

.footer {
  line-height: 20px;

  background: linear-gradient(267.48deg, var(--footer-darker-gradient), var(--footer-lighter-gradient));
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.footer__logo {
  display: block;
  margin-bottom: 50px;
}

.footer__contacts {
  width: 430px;
  padding-right: 10px;
}

.footer__contacts a {
  color: inherit;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  padding: 0 10px;
}

.footer__products-list,
.footer__services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item {
  margin-bottom: 38px;
}

.footer__menu-link {
  font-weight: 600;
  color: inherit;
}

.subscription__text {
  font-weight: 600;
}

.subscription__input {
  padding: 16px 32px;
  border: none;
}

.subscription__terms {
  font-size: 12px;
  line-height: 17px;
  color: var(--note-text-color);
}

.subscription__copyright {
  line-height: 22px;
  color: var(--note-text-color);
}


/* Modal */

.modal__title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(--basic-text-color);
}

.modal__text {
  line-height: 20px;
}

.modal-button {
  padding: 17px 32px;

  font-family: 'SpectralSC';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--half-gray);

  border: 1px solid var(--half-gray);
  background-color: var(--page-background);
  border-radius: 46px;
}

.modal__note {
  font-size: 12px;
  line-height: 15px;
}
